#main-page{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    border-spacing: 20px;
}
/*селекторов псевдоклассов */
h4:first-child{
    color: snow;
}
/*селекторов дочерних элементов */
h4>span{
    color: white;
    text-decoration: underline;
}
/*селекторов потомств*/
h4 span{
    font-style: oblique;
}

#head-box{
    padding: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #494848;
    border-radius: 20px;
    box-shadow: 0 5px 0px #3c354a;
    transition: 1s;
}
#head-box:hover{
    transform: scale(1.15);
}
.git-img{
    width: 30px;
    height: 30px;
    text-align: center;
}
body {
    color: #ffffff;
    font-size: 16px;
    font-family: "Open Sans", "Arial", sans-serif;
    background-color: #2a2828;
}
.content-box{
    height: 400px;
}
#graph-box{
    background-color: #494848;
    border-radius: 20px;
}
.graph:hover{
    transform: scale(1.30);
}
#value-box{
    background-color: #494848;
    border-radius: 20px;
    width: 50%;
    box-shadow: 5px 5px 5px 5px #3c354a;
    transition: 1s;
}
#value-box:hover{
    transform: scale(1.15);
}
.inform-box:hover{
    transform: scale(1.15);
}
#graph-box{
    box-shadow: 0 5px 0px #3c354a;
}
.inform-box{
    text-align: center;
    background-color: #494848;
    border-radius: 20px;
    transition: 1s;
    box-shadow: 5px 5px 5px 5px #3c354a;
}
.validate{
    border-radius: 5px;
    width: 77px;
    box-shadow: 1px 1px 1px 1px #2f2d2d;
    transition: 0.1s;
}
.resetDate{
    border-radius: 5px;
    width: 77px;
    box-shadow: 1px 1px 1px 1px #2f2d2d;
    transition: 0.1s;
}
.resetDate:active{
    background:rgb(116, 248, 99);
    transform: scale(0.95);
}
.validate:active{
    background: rgb(116, 248, 99);
    transform: scale(0.95);
}
#ystring{
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #2f2d2d;
}
.graph-img {
    width: 200px;
    height: 200px;
}
.cords{
    display: flex;
}
.scroll-box{
    bottom: 0;
    right: 0;
    top: 54px;
    width: 100%;
    overflow-y: scroll;
    height: 300px;
}
#result-table{
    width: 100%;
    border: 10px;

}
.input{
    margin: 30px;
}
.result-title{
    text-align: center;
}
.graph-title{
    text-align: center;
}
.graph{
    text-align: center;
    transition: 1s;
}
.anime-gif{
    height: 400px;
    right: 50px;
    position: fixed;
    bottom: 0;
    filter: drop-shadow(0 5px 16px rgba(0, 0, 0, 0.5));
}
#variant-text{
    float: right;
}